# Visual Studio build output directory
x64/

# Visual Studio user settings folder
.vs/
.VSCodeCounter

# Visual Studio project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Specific RHI Vulkan folder
RHIVK/